.fooditem{
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3;
  animation: slicer 1s;
}

@keyframes slicer{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.foodimage{
  width: 274px;
  height: 274px;
  border-radius:15px 15px 0px 0px  ;
}

.fooditeminfo{
  padding: 20px;

}

.itemnamerating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.itemnamerating p{
font-size: 20px;
font-weight: 400;
}

.itemnamerating img{
 width: 70px;
}

.itemdesc{
  color: #676767;
  font-size: 14px;
}


.itemprice{
  color: #49557e;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}


.imagecontainer{
  position: relative;

}

.imagecontainer .add{
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  background-color: aliceblue;

}

.itemcounter{

  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 50px;
  background-color: aliceblue;
}



@media (max-width: 768px) {
  .fooditem {
    box-shadow: 0px 0px 5px #00000015; 
  }

  .foodimage {
    width: 100%;
    height: auto; 
  }

  .fooditeminfo {
    padding: 15px; 
  }

  .itemnamerating p {
    font-size: 1rem; 
  }

  .itemdesc {
    font-size: 0.8rem; 
  }

  .itemprice {
    font-size: 1.2rem; 
  }

  .add, .itemcounter {
    width: 2rem;
    height: 2rem;
  }

  .add {
    bottom: 1rem;
    right: 1rem;
  }

  .itemcounter {
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
  }
}
